div{
    
}
#main-container{
    display: flex;
    flex-direction: column;
    padding: 5% 15%;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(83, 83, 83, 0.12);
    border-radius: 10px;
    border: 2px solid rgba(212, 175, 55, 0.44);
}
.bride-groom{
    padding-top: 15px;
    margin-bottom: 15px;
}

.party-member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}
.party-member *{
    margin: 5px 15px;
}

.name{
    font-family: "Aston Script";
    border: none;
    background-color: rgba(212, 175, 55, 0);
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.description{
    font-family: 'Quintessential';
}
.picture{
    width: 150px;
    height: 150px;
    object-fit:cover;
    object-position: center;
    background-position: 50% 45%;
    border-radius: 50%;
    border: 2px solid rgba(212, 175, 55, 0.44);
}

#nimbus{
    object-position: 50% 20%;
}
#jenna{
    object-position: 50% 10%;
}
.top{
    object-position: 50% 0%;
}
.title-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:rgba(212, 175, 55, 0);
    
}
.title-div h6{
    font-family: 'Quintessential';
    color: white;
    font-size: 14px;
    margin-top: 0px
}
.title-div h6 i{
    margin: 0px;
}